.aboutPg {
  background-color: rgb(160, 160, 90);
}

.aboutContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* margin: 10px; */
}

.headerImg {
  border-radius: 50%;
  margin-top: 10px;
  box-shadow: 3px 2px 3px 2px rgba(0, 0, 0, 0.2);
}

figCaption {
  color: black;
  text-indent: 2em;
  font-size: 12pt;
  line-height: 1.5;
  padding: 20px;
  margin: 20px;

  background: rgba(115, 214, 181, 0.17);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(18.8px);
  -webkit-backdrop-filter: blur(18.8px);
  border: 0.5px solid rgba(91, 146, 128, 0.65);
  box-shadow: 10px 10px 6px 1px rgba(0, 0, 0, 0.2);
}

@media screen and (min-width: 900px) {
  figCaption {
    max-width: 900px;
    font-size: 15pt;
  }
}
