.portfolioPg {
    background-color: rgb(160, 160, 90);
    padding: 2em;
}

.sgPhotography,
.linkerator,
.firebaseLogin,
.artCollector,
.bayouBros {
    cursor: pointer;
    color: rgb(247, 247, 60);
    padding: 18px;
    font-size: 18pt;
    margin: 4px;
    border: 1px solid black;
    border-radius: 10px;  
}

.portfolioDescription {
    font-size: 12pt;
    color: rgb(243, 243, 201);
}