.resumePg {
    background-color: rgb(138, 138, 78);
    display: flex;
    align-items: center;
    justify-content: center;
}

.resumeImg {
    height: 100%;
    max-width: 100%;
    border-radius: 10px;
    margin: 10px;
}

@media screen and (min-width: 900px) {
    .resumeImg {
        max-width: 900px;
    }
}

